

/* 
----------------
Table of Content
----------------
1.Navbar Part
2.Banner Part
3.History Part
4.Gift and Proposal Part 
5.Ticket Part
6.Offer & Sevice Part
7.Gallery Part
8.Counter Part
9.Proposal Part
10.Footer Part

*/





*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a,a:hover{
    text-decoration: none;
    color: #000;
}
/* .container{
    width: 1190px;
    margin: 0 auto;
} */

/*  =============== Banner Part Start================  */

#banner-bg{
    position: relative;
    height: 955px;
}
.bg-slider .slid{
   background: no-repeat center;
   height: 955px;
}
.bg-slider .slid img{
    width: 100%;
    height: 100%;
}
.banner-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.7);
}
.myname{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.myname h3{
    color: #fff;
    font-family: 'Satisfy', cursive;
    font-size: 50PX;
    margin-bottom: -26px;
}
.myname .arif{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 60PX;
    font-weight: 700;
    border: 4px solid #fff;
    border-top: 0;
    padding: 10px 1px;
    position: relative;
}
.myname .arif::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 4px;
    background: #fff;
}
.myname .arif::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 4px;
    background: #fff;
}
.myname .myself{
    color: #fff;
    width: 500px;
}
.myprfile{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 30PX;
}

 /*  ================= My Menu ==================  */

.mymenu{
    position: absolute;
    right: 30px;
    top: 50%;
}
.fixed_menu{
    position: fixed;
    z-index: 9999;
}
.menubar{
    width: 50px;
    height: 50px;
    border: 2px solid rgb(255, 153, 20); ;
    border-radius: 50%;
    line-height: 40px;
    font-size: 30px;
    color: rgb(255, 153, 20);
    text-align: center;
}
.hidenmenu {
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-45%);
    color: rgb(255, 153, 20);;
    display: none;
    transition: .6s;
    z-index: -1;
}
.hidenmenu.active{
    display: block;
}
.hidenmenu li{  
    margin: 10px 0px;
    width: 50px;
    height: 50px;
    border: 2px solid rgb(255, 153, 20);;
    border-radius: 50%;
    line-height: 40px;
    font-size: 22px;
    text-align: center;
    position: relative;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.hidenmenu .home {
	margin-left: 40px;
	margin-bottom: -30px;
    color: rgb(255, 153, 20);;
    
}
.hidenmenu .aboutme {
	margin: 40px -20px;
}
.hidenmenu .skills {
	margin: -20px -50px;
}
.hidenmenu .experience {
	margin: -20px -20px;
}
.hidenmenu .education {
    margin: 40px -50px;
}
.hidenmenu .contact_icon {
	margin: 20px 40px;
}
.hidenmenu ul li a{
    color: rgb(255, 153, 20);;
    padding: 10px 10px;
}
.hidenmenu ul li span {
	position: absolute;
	left: -70px;
	top: 0px;
    display: none;
}
.hidenmenu ul li:hover a span {
    display: block;
}
.hidenmenu ul li.aboutme span,
.hidenmenu ul li.experience span,
.hidenmenu ul li.education span,
.hidenmenu ul li.contact_icon span
 {
	position: absolute;
	left: -120px;
	top: 0px;
    display: none;
}


/*  ================= About Me ==================  */

#about_myself{
    width: 100%;
    height: 600px;
}
.myintro_withpic{
    margin-top: 50px;
    height: 100%;
}
.myintro_pic p:first-child{
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0px;
    color: #000;
}
.myintro_pic p span{
    color: rgb(255, 0, 0);
}
.myintro_pic p:last-child{
    font-size: 18px;
    font-family: 'Satisfy', cursive;
    text-align: center;
    color: #000;
    margin-bottom: 10px;
    position: relative;
}
.myintro_pic p:last-child::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 180px;
    background: #000;
    width: 100px;
    height: 4px;
}
.myintro_pic p:last-child::before{
    content: '';
    position: absolute;
    bottom: -10px;
    right: 185px;
    background: rgb(255, 0, 0);
    width: 100px;
    height: 4px;
}
.myintro_withpic .mypic{
    width: 260px;
    height: 300px;
    margin: 0 auto;
    margin-top: 50px;
}
.myintro_withpic .mypic img{
    width: 100%;
    height: 100%;
}

.aboutme_detail{
    margin-top: 100px;
}
.myname_block{
    margin: 0 auto;
    text-align: center;
    width: 320px;
    height: 80px;
    background: rgb(255, 0, 0);
    border-radius: 10px;
}
.myname_block h3{
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
    padding-top: 6px;
}
.myname_block p{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-bottom: 0px;
    color: rgb(255, 255, 255);
}

.myabout_block{
    margin-top: 50px;
    margin-bottom: 50px;
}
.myabout_block p{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-bottom: 0px;
    width: 500px;
}
.download a{
    display: block;
    width: 200px;
    height: 50px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    padding-top: 8px;
    position: relative;
    color: #fff;
    font-size: 20px;
    z-index: 1;
}
.download a::after{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    background: rgb(255, 0, 0);
    border-radius: 10px;
    transition: .5s;
    z-index: -1;
}
.download a:hover::after{
    width: 100%;
}
.mysocial{
    margin-top: 50px;
    margin-left: 150px;
}
.mysocial li{
    display: inline-block;
    margin-left: 10px;
}
.mysocial li i{
   font-size: 35px;
}
.mysocial li .facebook{
    color: #000;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.mysocial li .facebook:hover{
    color: #4267B2;
}
.mysocial li .whatsapp{
    color: #000;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.mysocial li .whatsapp:hover{
    color: #25D366;
}
.mysocial li .twitter{
    color: #000;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.mysocial li .twitter:hover{
    color: #1DA1F2;
}
.mysocial li .linkedin{
    color: #000;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.mysocial li .linkedin:hover{
    color: #0e76a8;
}
.mysocial li .google{
    color: #000;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.mysocial li .google:hover{
    color: #DB4437;
}


/*  ================= Counter Part ==================  */
#counter_part{
    width: 100%;
    height: 300px;
    background: url(../image/5053309.jpg) center no-repeat fixed;
}
.mycounter{
    margin-top: 40px;
}
.m_counter{
    width: 150px;
    height: 150px;
    border: 2px solid #fff;
    display: flow-root;
    margin-left: 110px;
    border-radius: 50px 50px 0px;
}
.m_counter h2 {
	text-align: center;
	color: #fff;
	margin-top: 50px;
	font-size: 35px;
	font-weight: 700;
}
.m_counter h3{
    text-align: center;
    color: #fff;
    margin-top: 75px;
    font-size: 30px;
 }

/*  ================= Skills ==================  */

 #myskills_part{
    width: 100%;
    height: 300px;
    position: relative;
    /* background: rgb(255, 75, 75); */
    
    -webkit-box-shadow: 5px 10px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 10px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 5px 10px 10px 0px rgba(0,0,0,0.5);
}
.myskill_part {
	width: 100%;
	height: 0px;
	margin: 30px auto;
}
.skill_header{
    text-align: center;
    position: relative;
 }
 .skill_header h3{
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0px;
    color: #000;
}
.skill_header p{
    font-size: 18px;
    font-family: 'Satisfy', cursive;
    text-align: center;
    color: #000;
    margin-bottom: 10px;
    position: relative;
}
.skill_header p::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 480px;
    background: #000;
    width: 100px;
    height: 4px;
}
.skill_header p::before{
    content: '';
    position: absolute;
    bottom: -10px;
    right: 480px;
    background: rgb(255, 0, 0);
    width: 100px;
    height: 4px;
}
.myskill-body{
    margin: 60px auto;
}
.myskills {
	position: absolute;
	top: 50px;
	left: 300px;
}
.myskills-1 {
	position: absolute;
	top: 130px;
	left: 230px;
}
.n_skill{
    width: 160px;
    height: 45px;
    border: 2px solid #000;
    border-radius: 5px;
    text-align: center;
   transition: all linear .2s;
}

.n_skill:hover{
    border: 2px solid rgb(255, 0, 0);
    -webkit-box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.6);
    -moz-box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.6);
    box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.6);
}
.n_skill h4{
    font-size: 16px;
   line-height: 35px;
   transition: all linear .2s;
}
.n_skill h4:hover{
    color: rgb(255, 0, 0);
}

/* ------------  Educations  ------------- */

#education-part{
    width: 100%;
    
    /* background: #25D366; */
    height: 760px;
}
.education_part{
    width: 100%;
    height: 100%;
    margin-top: 50px;
}
.edu_header{
     text-align: center;
     position: relative;
 }
 .edu_header h3{
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0px;
    color: #000;
}
.edu_header p{
    font-size: 18px;
    font-family: 'Satisfy', cursive;
    text-align: center;
    color: #000;
    margin-bottom: 10px;
    position: relative;
}
.edu_header p::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 440px;
    background: #000;
    width: 140px;
    height: 4px;
}
.edu_header p::before {
	content: '';
	position: absolute;
	bottom: -10px;
	right: 440px;
	background: rgb(255, 0, 0);
	width: 140px;
	height: 4px;
}
.edu_home {
    width: 100%;
    position: relative;
    margin-left: 50px;
    height: 600px;
    margin-top: 50px;
}
.edu_home::after {
	position: absolute;
	content: '';
	top: 60px;
	left: 510px;
    transform: translateX(-50%);
	background: url(../image/line.png) no-repeat center;
	width: 2px;
	height: 500px;
	z-index: -1;
}
/* .edu_slider{
    position: relative;
    width: 100%;
    height: 100%;
} */
.edu_slider .academy {
	position: absolute;
	content: '';
	top: 0px;
	left: 0px;
}
.edu_slider .academy-1 {
	position: absolute;
	content: '';
	top: 210px;
	right: 0px;
}
.edu_slider .academy-2 {
	position: absolute;
	content: '';
	bottom: -30px;
	left: 0px;
}
.edu_slider .text{
    width: 400px;
    height: 200px;
    background: #eeeeee;
    margin-right: 70px;
    position: relative;
    box-sizing: border-box;
    padding: 25px;
    text-align: right; 
    transition: .4s; 
}
.edu_slider .academy:hover .text,
.edu_slider .academy-1:hover .text-1,
.edu_slider .academy-2:hover .text{
    -webkit-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.5);
}
.edu_slider .text::after{
    content: '';
    width: 25px;
    height: 25px;
    background: #eeeeee;
    position: absolute;
    top: 50%;
    right: -13px;
    transform: translateY(-50%) rotate(135deg);
}
.edu_slider .text p{
    font-family: 'Open Sans', sans-serif;
}
.edu_slider .logo{
    position: absolute;
    top: 0px;
    left: 470px;
    width: 80px;
    height: 80px;
    margin-right: 80px;
    border-radius: 50%;
    margin-top: 60px;
    transition: .4s;
}
.edu_slider .academy:hover .logo {
    -webkit-box-shadow: 0px 0px 0px 6px rgba(255,0,0,0.9);
    -moz-box-shadow: 0px 0px 0px 8px rgba(255,0,0,0.9);
    box-shadow: 0px 0px 0px 8px rgba(255,0,0,0.9);
}
.edu_slider .academy-2:hover .logo {
    -webkit-box-shadow: 0px 0px 0px 6px rgba(255,0,0,0.9);
    -moz-box-shadow: 0px 0px 0px 8px rgba(255,0,0,0.9);
    box-shadow: 0px 0px 0px 8px rgba(255,0,0,0.9);
}
.edu_slider .logo img {
	width: 100%;
	margin: 0px auto;
}
.edu_slider .heading h4{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: rgb(255,0,0);
}
.edu_slider .academy-1 .text-1{
    width: 400px;
    height: 200px;
    background: #eeeeee;
    margin-right: 140px;
    position: relative;
    box-sizing: border-box;
    padding: 25px;
    text-align: left;
    transition: .4s;
}
.edu_slider .academy-1 .text-1::after{
    content: '';
    width: 25px;
    height: 25px;
    background: #eeeeee;
    position: absolute;
    top: 50%;
    left: -13px;
    transform: translateY(-50%) rotate(135deg);
    
}
.edu_slider .academy-1 .text-1 p{
    font-family: 'Open Sans', sans-serif;
}
.edu_slider .academy-1 .logo-1{
    position: absolute;
    top: 0px;
    right: 520px;
    width: 80px;
    height: 80px;
    background: #eeeeee;
    margin-right: 90px;
    border-radius: 50%;
    margin-top: 60px;
    transition: .4s;
}
.edu_slider .academy-1 .logo-1 img {
	width: 100%;
	margin: 0px auto;
}
.edu_slider .academy-1:hover .logo-1 {
    -webkit-box-shadow: 0px 0px 0px 6px rgba(255,0,0,0.9);
    -moz-box-shadow: 0px 0px 0px 8px rgba(255,0,0,0.9);
    box-shadow: 0px 0px 0px 8px rgba(255,0,0,0.9);
}
/* ------------  Experience  ------------- */



/* ------------  Contact  ------------- */
#contact-part{
    position: relative;
}
.contact{
    height: 650px;
    background: rgb(0, 0, 0);
    clip-path: polygon(0% 100%, 100% 100%, 100% 6%, 96% 5%, 90% 5%, 85% 5%, 80% 6%, 72% 9%, 65% 14%, 58% 20%, 50% 26%, 44% 30%, 36% 34%, 29% 37%, 23% 38%, 16% 38%, 10% 37%, 5% 35%, 0 33%, 0% 60%);
}
.con_header{
    margin-top: 210px;
    text-align: center;
    position: relative;
}
.con_header h3{
   font-size: 35px;
   font-family: 'Oswald', sans-serif;
   font-weight: 700;
   text-align: center;
   margin-bottom: 0px;
   color: #fff;
}
.con_header p{
   font-size: 18px;
   font-family: 'Satisfy', cursive;
   text-align: center;
   color: #fff;
   margin-bottom: 10px;
   position: relative;
}
.con_header p::after{
   content: '';
   position: absolute;
   bottom: -10px;
   left: 480px;
   background: rgb(255, 255, 255);
   width: 100px;
   height: 4px;
}
.con_header p::before{
   content: '';
   position: absolute;
   bottom: -10px;
   right: 480px;
   background: rgb(255, 0, 0);
   width: 100px;
   height: 4px;
}
.footer-detail {
	width: 100%;
	height: 150px;
	margin-top: 50px;
}
.footer-detail .location{
    width: 270px;
    height: 160px;
    position: relative;
}
.footer-detail .location ul .marker a{
    color: #ff0000;
    line-height: 35px;
}
.footer-detail .location ul .marker {
	text-align: center;
	width: 35px;
	height: 35px;
	background: rgb(255, 255, 255);
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 55%;
	transform: translateX(-50%);
}
.footer-detail ul li p{
    position: absolute;
    top: 60px;
    left: 30px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.footer-social ul li{
    display: inline-block;
    transition: .6s;
}
.footer-social .follow{
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.footer-social {
    margin: 15px auto;
}
.footer-social ul li a{
    color: rgb(255, 0, 0);
    font-size: 20px;
    transition: .6s;
}
.footer-social ul li:hover{
    background: red;
    color: #fff;
}
.footer-social ul li:hover a{
    color: #fff;
}
.footer-social ul li{
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    margin-left: 20px;
    text-align: center;
    line-height: 40px;
    transition: .5s;
}

#footer-bottom {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #ffffff;
}
#footer-bottom p {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #444444;
}
#footer-bottom a {
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-weight: 700;
}